{% extends 'base.html' %}
{% block content %}
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Bookhub</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-light text-center">
    <div class="container p-5">
        <div class="row"> 
            <div class="d-flex align-items-center justify-content-center">
                <lottie-player src="https://lottie.host/892ffde5-b4ec-45a3-a5f5-dfd666699f5f/nWbtWwtRPR.json" background="##FFFFFF"
                 speed="1" style="width: 300px; height: 300px"  autoplay direction="1" mode="normal"></lottie-player>
            </div>
        </div>
    </div>
</section>

{% endblock %}