{% extends 'base.html' %}
{% block content %}

<section class="bg-dark text-light text-center shadow mb-20">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center p-5">{{ current_user.email}}'s user profile</h1>
            </div>
        </div>
    </div>
</section>

<section class="text-center">
    <div class="container p-10">
        <div class="row d-flex align-items-flexend justify-content-center">
            <div class="col-3 p-10">
                <lottie-player src="https://lottie.host/cadc124a-9702-4d1c-b4fa-4d6482b6d95a/FDCHw484bO.json" background="##FFFFFF"
                 speed="1" style="width: 300px; height: 300px"autoplay direction="1" mode="normal"></lottie-player>
            </div>
            <h3 class="p-5">Here are your profile details.</h3>
            <ul class="list-group">
                <li class="list-group-item">Email: {{ current_user.email }}</li>
                <li class="list-group-item">Token: {{ current_user.token}}</li>
            </ul>
            <div class="row" style="margin-top: 20px">
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}